/* testing out opaque background in carousel */
.carouselText{
  backdrop-filter: blur(50px);
  padding: 5px;
}


/* crab background */
.body{
  background-image: url('./assets/crab.png');
  background-size: 300px;
  background-position: center;
  background-color: #ebebeb;
  
}

/* logo circular */
.logo {
  border-radius: 50%;
  width: 200px;
}

/* Make h5 headings smaller on screens smaller than 992px */

@media (max-width: 992px){
  #carousel h5 {
      font-size: 1em;
      }
  
  }
  
  @media (max-width: 768px){
      footer li{
          font-size: .9em;
      }
      .product img{
          width: 400px;
      }
      .product h5{
          font-size: 1.15em;
      }
      p{
          font-size: .9em;
      }
      
  }
  
  /* Add custom font + size to headings */
  h1 {
      font-family: "Yellowtail";
      font-size: 4em;
  }
  
  h2{
      font-family: "Yellowtail";
      font-size: 2em;
  }
  
  button.btn{
      background-color: #C16dac;
      border-color: #c16dac;
      font-weight: bold;
      border: none !important;
      
  }
  .btn{
      background-color: #C16dac;
      border-color: #c16dac;
      font-weight: bold;
      border: none !important;
      
  }
  
  button.btn:hover{
      background-color: #c97fb6;
  }
  .btn:hover{
      background-color: #c97fb6;
  }

  .btn.btn-success, .btn.btn-success:hover .btn.btn-success.active.focus {
    background-color: #A95F97 !important;

  }
  
  nav{
      background-color: #6dacc1;
    
  }
  
  .navHeader{
      font-family: "Yellowtail";
  }

  /* .navLink{
      color: #000000a6;
      padding: 8px;
  } */

  .navLink:hover {
      color: #ebebeb;

  }
  
  .customBorder{
      border: 2px solid gray; 
      padding: 1em;
      box-shadow: 5px 5px 5px darkgray;
      background-color: white;
  }
  
  i{
      padding: 5px;
      margin-top: 4px;
      font-size: 1.5em;
      }
  
  a.social{
      text-decoration: none;
  }

  input.error {
      border: 1px solid darkred;
  }
  form .error {
      border: 1px solid darkred;
  }

  .errorMsg {
    border: 2px solid#C16D82;
    background-color: #F0DAE0; 
    border-radius: 10px;
    padding: 10px;
    color: #C16D82;
}


  footer {
    background-color: #D8C8E8;
    padding-bottom: 1px;
    margin-top: 1px;
  }


  .badge {
    background-color: #6dacc1 !important;
    font-size: 1rem;
  }

  .tier-perk {
    margin-bottom: 1rem; /* Add space between perks */
  }

.card-badge {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }

  .acknow {
    padding-bottom: 1px;
  }
  